{% extends "base.html" %}

{% block page_title %}HaitianStories - About{% endblock %}

{% block topleft_col %}
<div class="post" style="padding-right: 220px">
    <h1 class="title">About HaitianStories</h1>
    <div class="entry">

      <p>HaitianStories is an open-source collaboration of UNICEF and partners designed to collect stories from young people via computer with internet connection or mobile phone. Once stories are collected they are shown on a map and can be sorted by age, language, country of origin, theme, etc.</p>
      <p>Further development will extend the languages, moderation abilities and functionalities of Our Stories. </p>

      <p><a href="{% url story-add %}">Please join us in recording your story today.</a></p>
    </div>
</div>
{% endblock topleft_col %}

{% block content %}
{% endblock content %}

{% block sidebar1 %}
{% endblock sidebar1 %}

{% block sidebar2 %}
{% endblock sidebar2 %}
